#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 1);
    border-width: 0px;
    border-radius: 3px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(189, 189, 189, 1);
    background-color: rgba(0, 0, 0, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(235, 211, 211, 1);
    background: -webkit-linear-gradient(top, rgba(220, 215, 224, 1) 0%, rgba(235, 211, 211, 1) 100%);
    background: linear-gradient(to bottom, rgba(220, 215, 224, 1) 0%, rgba(235, 211, 211, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 240, 240, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #fff0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #fff0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}